.div-container{
  border: solid 1px #dddddd;
  width: 300px;
  float:left;
  padding: 30px;
  margin: 0 10px
}

.div-container-add-button {
  float: left;
  padding: 20px;
  font-size: 14px;
}

.div-factory-element{
  border: solid 1px blue;
  width: 200px;  
  text-align: center;
  padding: 30px;
  margin: 20px;
}

.highlight {
  background-color: yellow;
}